RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USER=uwb
RABBITMQ_PASS=uwb
RABBITMQ_EXCHANGE=uwb.data
RABBITMQ_BINDING_KEY=node.*
RABBITMQ_QUEUE=uwb.logstash.persist
OUTPUT_FILE=/usr/share/logstash/data/uwb-logstash.jsonl
