RABBITMQ_USER=uwb
RABBITMQ_PASS=uwb
AMQP_URL=amqp://uwb:uwb@localhost:5672
CONTROL_EXCHANGE=uwb.control
ERROR_EXCHANGE=uwb.errors
SEND_CONTROL_RETRY_COUNT=8
SEND_CONTROL_RETRY_MIN_MS=300
SEND_CONTROL_RETRY_MAX_MS=5000
