# Dependencies
node_modules/

# Bun
bun.lockb

# Environment
.env
.env.local

# Docker local data overrides
*.local.yml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
